<header>
  <nav>
    <a href="/"><img src="img/logo.svg" alt=""><a/>
  </nav>
</header>

<main>
  <section>
    <!-- FX -->
    <div class="effect">
      <div class="greyEffect"></div>
    </div>
    <!-- -->
    <h1>New Realize</h1>
    <!-- FX -->
    <div class="effect">
      <div class="yellowEffect"></div>
    </div>
    <!-- -->
    <div class="galery">
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
    </div>
  </section>
  <section>
      <!-- FX -->
    <div class="effect">
      <div class="yellowEffect"></div>
    </div>
      <!-- -->
    <h1>Artist</h1>
      <!-- FX -->
    <div class="effect">
      <div class="yellowEffect"></div>
    </div>
      <!-- -->
    <div class="galery">
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
    </div>
    <button type="button" name="button"><a href="/producer">Watch more</a></button>
  </section>
  <section>
    <!-- FX -->
    <div class="effect">
      <div class="yellowEffect"></div>
    </div>
    <!-- -->
    <h1>Songs</h1>
    <!-- FX -->
    <div class="effect">
      <div class="yellowEffect"></div>
    </div>
    <!-- -->
    <div class="galery">
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
      <a href="#"><img src="http://placehold.it/250x250" alt=""></a>
    </div>
    <button type="button" name="button">Watch more</button>
    <!-- FX -->
    <div class="effect">
      <div class="greyEffect"></div>
    </div>
    <!-- -->
  </section>

</main>
<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal imformation</a></p>
  </div>
</footer>
