<!-- scss Component: Nav.scss
                     FirstView.scss
                     HomeSection.scss
                     Footer.scss -->

<header>
  <nav>
    <img src="img/logo.svg" alt="Process logo">
    <ul>
      <li><a href="/createSongs">Music</a></li>
      <li><a href="#">Artist</a></li>
      <li><a href="/home">Home</a></li>
      <li><button type="button" name="button"><a href="/login">Login</a></button></li>
    </ul>
  </nav>
  <div class="logo">
    <img src="img/logo.svg" alt="">
    <img class="wall" src="img/wall.jpg" alt="">
  </div>
</header>

<main>
  <!-- FX -->
  <div class="effect">
    <div class="greyEffect"></div>
  </div>
  <!-- -->
  <section>
    <h2>MUSIC</h2>
    <div class="text">
      <p class="text_p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="text_p2">" lorem lorem lorem lorem lorem lorem lorem "</p>
    </div>
  </section>

  <!-- FX -->
  <div class="effect">
    <div class="yellowEffect"></div>
    <div class="greyEffect"></div>
  </div>
  <!-- -->

  <img src="img/artist.png" alt="">

  <!-- FX -->
  <div class="effect">
    <div class="greyEffect"></div>
    <div class="yellowEffect"></div>
  </div>
  <!-- -->

  <section>
    <h2>ARTIST</h2>
    <div class="text">
      <p class="text_p2">" lorem lorem lorem lorem lorem lorem lorem "</p>
      <p class="text_p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <!-- FX -->
  <div class="effect">
    <div class="yellowEffect"></div>
    <div class="greyEffect"></div>
  </div>
  <!-- -->

  <img src="img/user.png" alt="">

  <!-- FX -->
  <div class="effect">
    <div class="greyEffect"></div>
    <div class="yellowEffect"></div>
  </div>
  <!-- -->

  <section>
    <h2>TIPS</h2>
    <div class="text">
      <p class="text_p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="text_p2">" lorem lorem lorem lorem lorem lorem lorem "</p>
    </div>
  </section>

  <!-- FX -->
  <div class="effect">
    <div class="yellowEffect"></div>
    <div class="greyEffect"></div>
  </div>
  <!-- -->

  <img src="img/software.png" alt="">

  <!-- FX -->
  <div class="effect">
    <div class="greyEffect"></div>
  </div>
  <!-- -->

</main>

<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="/img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal imformation</a></p>
  </div>
</footer>
