<form class="" action="" method="post">
<input placeholder="input_1" type="text" name="name" value=""><br>
<input placeholder="input_2" type="text" name="description" value=""><br>
<input placeholder="input_3" type="text" name="img" value=""><br>
<input class="button" type="submit" value="Add Data">
</form>
