<header>
  <nav>
    <img src="img/logo.svg" alt="">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<main>

  <!-- FX -->
  <div class="effect">
    <div class="yellowEffect"></div>
    <div class="blackEffect"></div>
  </div>
  <!-- -->

  <div class="form">
    <div class="create_account">
      <h1>Create your account</h1>
      <form class="" action="/login" method="post">
        <input placeholder="Name" type="text" name="name" value=""><br>
        <input placeholder="Email" type="text" name="email" value=""><br>
        <input placeholder="Password" type="password" name="password" value=""><br>
        <input placeholder="Confirm Password" type="password" name="confirm_password" value=""><br>
        <input class="button" type="submit" value="Create Account">
      </form>
    </div>
    <div class="login_account">
      <h1>Login</h1>
      <form class="" action="#" method="post">
        <input placeholder="Email" type="text" name="name" value=""><br>
        <input placeholder="Password" type="password" name="name" value=""><br>
        <input class="button" type="submit" value="Login Account">
      </form>
    </div>
  </div>

  <!-- FX -->
  <div class="effect">
    <div class="blackEffect"></div>
    <div class="yellowEffect"></div>
  </div>
  <!-- -->

</main>

<footer>
  <div class="black_f">
    <div class="follow">
      <p>Social network:</p>
      <ul>
        <li><a href="#"><img src="img/facebook.svg" alt=""></a></li>
        <li><a href="#"><img src="img/instagram.svg" alt=""></a></li>
        <li><a href="#"><img src="img/twitter.svg" alt=""></a></li>
      </ul>
    </div>
    <div class="info">
      <p>Contact Us:</p>
      <ul>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
        <li>Contact: <a href="#">Process.com</a></li>
      </ul>
    </div>
  </div>
  <div class="yellow_f">
    <p><a href="#">Legal imformation</a></p>
  </div>
</footer>
