<header>
  <nav>
    <img src="img/logo.svg" alt="">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="info">
    <div class="cover">
      <img src="http://placehold.it/250x250" alt="">
      <h1>Name</h1>
      <h2>Producteur</h2>
      <p>Date</p>
    </div>
    <div class="bpm_tonality">
      <p>Bpm</p>
      <p>Tonality</p>
    </div>
  </section>
</main>
