p {
  font-weight: 250; }

body {
  margin: 0;
  font-family: helvetica, sans-serif; }

nav {
  height: 50px;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1; }
  nav img {
    height: 50px;
    width: 200px; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    display: flex; }
    nav ul li {
      margin: 15px; }
      nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold; }
        nav ul li a:hover {
          color: #FFDE00; }

@media screen and (max-width: 524px) {
  nav li {
    display: none; } }

section {
  background-color: #333; }
  section h1 {
    color: #FFDE00;
    margin: 0;
    padding: 20px;
    text-align: center; }
  section .galery {
    margin-top: 30px;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    section .galery .container {
      position: relative;
      padding: 0.3rem;
      height: 300px;
      width: 300px;
      box-sizing: border-box; }
      section .galery .container img {
        width: 100%;
        height: auto; }
      section .galery .container .title {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        margin: 5px;
        padding: 0px 10px;
        position: absolute;
        bottom: 0; }

footer .black_f {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  footer .black_f .follow {
    width: 350px; }
    footer .black_f .follow p {
      color: #FFDE00;
      text-align: center; }
    footer .black_f .follow ul {
      padding: 0;
      display: flex;
      justify-content: center; }
      footer .black_f .follow ul li {
        list-style-type: none;
        width: 50px;
        margin: 5px; }
  footer .black_f .info {
    width: 300px; }
    footer .black_f .info p {
      color: #FFDE00;
      text-align: center; }
    footer .black_f .info ul {
      padding: 0;
      display: flex;
      flex-direction: column; }
      footer .black_f .info ul li {
        color: white;
        list-style-type: none;
        text-align: center; }
        footer .black_f .info ul li a {
          color: #FFDE00;
          text-decoration: none; }

footer .yellow_f {
  background-color: #FFDE00;
  padding: 1px; }
  footer .yellow_f p a {
    margin-left: 10px;
    font-size: 0.7em;
    color: black;
    text-decoration: none; }

.effect {
  background-color: #333; }
  .effect .greyEffect {
    height: 10px;
    background-color: #8B8B8B; }
  .effect .yellowEffect {
    height: 10px;
    background-color: #FFDE00;
    transform: rotate(4deg); }

.line_yellow {
  background-color: #FFDE00;
  height: 10px; }

.line_black {
  background-color: #333;
  height: 10px; }

.line_grey {
  background-color: #8B8B8B;
  height: 10px; }
