// ---- Import ---- //

@import "variable.scss";

// ---- unite ---- //
input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

// ---- page ---- //

.part_1 {
  background-color: $grey;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .base {
    width: 400px;
    padding:0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    textarea{
      width: 395px;
      height: 200px;
      resize: none;
      border: 0px;
    }
    .item {
      text-align: center;
    }
    }
  }
  .software{
    background-color: $black;
    padding:0px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    input{
      margin: 20px 0px;
    }
    textarea{
      margin: 20px 0px;
    }
    p{
      color: $yellow;
    }
}


.part_2 {
  background-color: $black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .vst, .hardware {
    width: 400px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      color: $yellow;
    }
  }
}


.part_3 {
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .process {
    text-align: center;
    textarea{
      background-color: $black;
      width: 800px;
      height: 200px;
      resize: none;
      border: 0px;
    }
  }
}
