// ---- Import ---- //

@import "variable.scss";

// ---- Fx ---- //

.effect {
  background-color: $black;
  .greyEffect {
    height: 10px;
    background-color: $grey;
  }

  .yellowEffect{
    height: 10px;
    background-color: $yellow;
    transform: rotate(4deg);
  }
}

// ---- Line ---- //

.line_yellow{
  background-color: $yellow;
  height: 10px;
}

.line_black{
  background-color: $black;
  height: 10px;
}

.line_grey{
  background-color: $grey;
  height: 10px;
}
