// ---- Import ---- //

@import "variable.scss";

body{
  background-color: $black
}

h3{
   color: $yellow;
}

.base{
  background: $grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2rem;
  .base-infos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .cover{
      img{
        height: 300px;
        width: auto;
      }
    }
    .text{
      padding: 0 1.7em;
      display: flex;
      flex-direction: column;
    }
  }
  .process{
  min-width: 300px;
    flex: 1;
    padding: 0 1.7em
  }
}

.software{
  padding: 20px;
  display: flex;
  justify-content: center;
  .picture{
    width: 80%;
    position: relative;
    .desc{
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      padding: 1.7em;
      margin: 0;
      color: $yellow;
    }
    img{
    width: 100%;
  }
  }
}

.vst, .hardware{
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  h3{
    width: 100%;
  }
  .item{
    position: relative;
    overflow: hidden;
    min-width: 300px;
    flex: 1;
    max-height: 25vw;
    img{
      width: 100%;
      height: auto;
    }
    p{
      background: rgba(0, 0, 0, 0.7);
      padding: 1.7em;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      min-width: 20%;
      color: $yellow;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 900px) {
  .vst,.hardware{
    .item{
      min-width: 40%;
    }
  }
}

@media screen and (max-width: 900px) {

  .software .picture .desc{
    position: relative;
  }
}
